<div class="alert alert-warning alert-dismissible col-md-10" role="alert">
  <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->

  <p class="text-center">  <strong>Warning!</strong> Your email address is not verified. Please follow the instructions that was sent to your email address and verify your email address. </p>

  <!--We have sent you an email with a link to verify the account.-->
</div>
