body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}

.input-group span.twitter-typeahead .tt-hint {
    height: 34px;
    border-radius: 4px;
}

.panel.panel-header{
  margin: 0px;
  background-color: #0084B4;
  height: 65px;
}

.overall-rating-panel-super{
  padding: 2px;
}

.overall-rating-container{
  padding: 0px
}

.overall-rating-panel{
  margin-bottom: 0px;
}

.panel-body {
    padding-bottom: 0px;
}

.btn-group-justified {
  padding: 5px;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    font-size: 12px;
}

.btn-primary {
    color: #337ab7;
    background-color: #fff;
    border-color: #2e6da4;
    transition: 0.3s;
}

.navbar-inverse {
    background-color: #17232F;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar>.container-fluid .navbar-brand:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.container {
     padding-right: 0px;
     padding-left: 0px;
}

#facebook_leftblank{
  width: 100%;
  height: 65px;
}

#homepage_fb_pic{
  position: absolute;
  height: 60px;
  top: 16px;
  left: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}


#homepage_linkedin_pic{
  position: absolute;
  height: 60px;
  top: 200px;
  left: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

p{
  font-size: 12px;
}
