div.profile-container{
	background-color:#aaaaaa;
	width: 60vw;
    height: 100vh;
    position: absolute;
    margin-left: 20vw;
    top: 0px;
}

img.logo{
	width: 120px;
    position: absolute;
    left: 20px;
    top: 140px;
    border: 5px solid #ffffff;
}

span.profile-title{
	font-family:elegence;
	left: 160px;
    position: absolute;
    font-size: 32px;
    top: 200px;
    -webkit-text-stroke: 1px black;
    color: #fefefe;
}

@font-face {
    font-family: elegence;
    src: url('elegence.ttf') format('truetype');
}

img.sid-banner{
	position: absolute;
    top: 0px;
    opacity: 0.6;
}

div.tag-container{
	width: inherit;
    height: 30px;
    position: absolute;
    top: 240px;
    background-color: black;
}

span.tag-line{
	color: white;
    padding-top: 6px;
    position: absolute;
    padding-left: 163px;
    font-family: georgia;
}

div.about-container{
	width: 250px;
    height: 310px;
    background-color: #fefefe;
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: 280px;
}

div.members-container{
	width: 540px;
    height: 310px;
    background-color: #fefefe;
    border-radius: 3px;
    position: absolute;
    left: 270px;
    top: 280px;
}

div.about-header{
	
}