body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  /*color: #fff;*/
}

.same-row-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-inverse .navbar-brand {
     color: #fff;
}

.navbar> .navbar-brand:hover{
  color: #FED136;
}

.navbar-inverse .navbar-brand:hover {
     color: #FED136;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #FED136;
}
.navbar>.container-fluid .navbar-brand:hover{
  color: #FED136;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FED136;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: black;
}
