<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/sb-admin.css">

</head>
<body style="padding: 0px">


<div id="wrapper">
  <% include ../partials/nav-side-bar %>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <% include ../partials/message %>
          </div>
      </div>
      <div class="row">
        <div class="panel panel-default col-md-offset-2 col-md-4" style="margin-right: 5px">
          <div class="panel-heading">
              <h3><span class="fa fa-facebook"></span> Facebook - Overall Rating </h3>
          </div>
          <div class="panel-body">
              <div id="donut-facebook" style="height: 250px;"></div>
          </div>
        </div>
        <div class="panel panel-default col-md-4" style="margin-left: 5px">
          <div class="panel-heading">
              <h3><span class="fa fa-linkedin"></span> LinkedIn - Overall Rating </h3>
          </div>
          <div class="panel-body">
              <div id="donut-linkedin" style="height: 250px;"></div>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
    <% include ../partials/footer %>
  </div>
</div>

<script type="text/javascript">
  var json = (function () {
          var json = null;
          var tempdata=null;
          var settings = {
          "async": false,
          "global": false,
          "crossDomain": true,
          "url": "/rate/facebook/getAllRatingsCount",
          "method": "POST",
          "headers": {
            "cache-control": "no-cache",
            "postman-token": "fb992280-1838-c18e-05ad-f396b003b64d",
            "content-type": "application/x-www-form-urlencoded"
          }
        }

        $.ajax(settings).done(function (response) {
          json =  [{label: "Yes", value: response.yes},
                  {label: "No", value: response.no},
                  {label: "Not Sure", value: response.notSure}];

          tempdata = response;
        });
          // alert(settings);
          if(tempdata){
            if(tempdata.yes == 0 && tempdata.no == 0 && tempdata.notSure == 0){

                var $content = $('#donut-facebook');

                $content.append("<div class='text-center'>No rating data available for your Facebook profile.</div>");

            }else{
              Morris.Donut({
                element: 'donut-facebook',
                data: json,
                colors: [
                  '#33cc33',
                  '#ff0000',
                  '#ffff00'
                ]
              });
            }
          }
          return json;

      })
      ();


</script>

<script type="text/javascript">
  var json = (function () {
          var json = null;
          var tempdata=null;
          var settings = {
          "async": false,
          "global": false,
          "crossDomain": true,
          "url": "/rate/linkedin/getAllRatingsCount",
          "method": "POST",
          "headers": {
            "cache-control": "no-cache",
            "postman-token": "fb992280-1838-c18e-05ad-f396b003b64d",
            "content-type": "application/x-www-form-urlencoded"
          }
        }

        $.ajax(settings).done(function (response) {
          json =  [{label: "Yes", value: response.yes},
                  {label: "No", value: response.no},
                  {label: "Not Sure", value: response.notSure}];

          tempdata = response;
        });
          // alert(settings);
          if(tempdata){
            if(tempdata.yes == 0 && tempdata.no == 0 && tempdata.notSure == 0){

                var $content = $('#donut-linkedin');

                $content.append("<div class='text-center'>No rating data available for your LinkedIn profile.</div>");

            }else{
              Morris.Donut({
                element: 'donut-linkedin',
                data: json,
                colors: [
                  '#33cc33',
                  '#ff0000',
                  '#ffff00'
                ]
              });
            }
          }
          return json;

      })
      ();


</script>

<!-- <script type="text/javascript">
  var json = (function () {
          var json = null;
          var settings = {
          "async": false,
          "global": false,
          "crossDomain": true,
          "url": "/rate/linkedin/getAllRatingsCount",
          "method": "POST",
          "headers": {
            "cache-control": "no-cache",
            "postman-token": "fb992280-1838-c18e-05ad-f396b003b64d",
            "content-type": "application/x-www-form-urlencoded"
          }
        }

        $.ajax(settings).done(function (response) {
          json =  [{label: "Yes", value: response.yes},
                  {label: "No", value: response.no},
                  {label: "Not Sure", value: response.notSure}];

        });
          // alert(settings);
          return json;

      })
      ();
  Morris.Donut({
    element: 'donut-linkedin',
    data: json
  });
</script> -->
</body>
</html>
