<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="../../public/stylesheets/profile.css">
</head>
<body>
	<div class = "profile-container">
		<img class="profile-cover" src="cover.png">
		<img class="sid-banner" src="banner.png">
		<img class="logo" src="logo.png">
		<span class="profile-title">University of Moratuwa</span>
	</div>
</body>
</html>
