<!doctype html>
<html lang="en-US">
<head>
	<link rel="stylesheet" href="../../public/stylesheets/profile.css">
</head>
<body>
	<div class = "profile-container">
		<div class="tag-container">
			<span class="tag-line">Educational Institute</span>
		</div>
		<img class="profile-cover" src="cover.png">
		<img class="sid-banner" src="banner.png">
		<img class="logo" src="logo.png">
		<span class="profile-title">University of Moratuwa</span>
		<div class="about-container">
			<div class="about-header">
				
			</div>
		</div>
		<div class="members-container">
			
		</div>
	</div>
</body>
</html>
