<html>
<head>
    <% include ../partials/head %>


    <style>
        #chart svg {
            height: 400px;
        }

        body {
            padding-top: 0px;
            word-wrap: break-word;
        }
    </style>

    <script type="text/javascript">
        var data = <%-JSON.stringify(summary)%>

                nv.addGraph(function () {
                    var chart = nv.models.pieChart()
                            .x(function (d) {
                                return d.label
                            })
                            .y(function (d) {
                                return d.value
                            })

                            .showLabels(true)
                            .showLegend(false);

                    d3.select("#chart svg")
                            .datum(data)
                            .transition().duration(1200)
                            .call(chart);

                    return chart;
                });
    </script>
</head>
<body>
<% include ../partials/navbar %>

<a href="/home" class="btn btn-primary"><span class="fa"></span> Home</a>

<div class="container">

    <div id="chart">
        <svg></svg>
    </div>

</div>

<% include ../partials/footer %>

<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">

</body>
</html>
